@charset "utf-8";
/* CSS Document */

/*公共样式表*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin:0; padding:0;border: 0;;}
fieldset, img { border:0; }
img{vertical-align: middle;cursor: pointer;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
input, button, textarea, select {font-size: 12px;}
body {
	width: 100%;
	height: 100%;
    font-family: 宋体;
    font-size: 12px;
    color: rgb(0, 254, 245);
    position: relative;
    margin: 0px auto;
    background: url(../img/dzrb_bg.jpg) center top no-repeat rgb(94, 149, 46);
}
a {color: #666;text-decoration: none; }



.header,.storem,.footer{
	width: 100%;
}
.wrap{
	width: 1200px;
	margin: auto;
}
.header{
	height: 73px;
}
.store{
	height: 1872px;
}
.footer{
	width: 100%;
	height: 244px;
    margin: 0px auto;
    margin-top: 7px;
    padding-bottom: 40px;
}
.questionnaire{
	width: 43px;
    height: 111px;
    position: fixed;
    bottom: 120px;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.questionnaire a{
	display: block;
    width: 15px;
    height: 61px;
    line-height: 14px;
    padding: 50px 14px 0 14px;
    background: url(../img/pic5/bg_wenjuan.png) no-repeat;
    text-align: center;
    color: #9e766d;
}
.questionnaire a:hover{
	background: url(../img/pic5/bg_wenjuan_hover.png) no-repeat;
}
.consultation{
	position: fixed;
    top: 150px;
    right: 0;
    width: 41px;
    height: 119px;
}
.consultation a {
	width: 41px;
    height: 119px;
    display: inline-block;
    background: url(../img/pic5/dzrb_zxzx.png) no-repeat;
    }
.wrap-f{
	width: 1200px;
	height: 127px;
	margin: auto;
	background: url(../img/pic5/dibuline.gif) repeat-x;
}

