#nav-eject{
	width: 106px;
    height: auto;
    background: #c1b2ac;
    position: absolute;
    left: 46px;
    top: 3px;
    z-index: 9999;
    padding: 9px 0 3px;
}
.serchmuen p.fl a{width:36px;height:18px;display:inline-block;background:url(../img/pic2/shouye.png) no-repeat;}
.serchmuen h3.fl span{width:3px;height:18px;display:inline-block;background:url(../img/pic2/line_muen.png) no-repeat;}
.serchmuen h4.fl a{width:58px;height:18px;display:inline-block;background:url(../img/pic2/newp_7.png) no-repeat;}
.muenright .serchmuen .serchmuen_center .sousuo_text{background:url(../img/pic2/dzrb_comment.gif) -66px 0px no-repeat;width:101px;}
.muenright .serchmuen .serchmuen_center .sousuo_but{background: url(../img/pic2/dzrb_comment.gif) -186px -1px no-repeat;}
.muenright .serchmuen .serchmuen_center .phone{background:url(../img/pic2/dzrb_comment.gif) 0px -26px no-repeat}
.menu_pop .nav_type{background:url(../img/pic2/dzrb_menu_pop.png) no-repeat;}
.sidelist .hover a{ width:68px; height:32px; line-height:32px; font-weight:bold; color:#272217;}

.sidelist span h3.hover .style_1{ background:url(../img/pic2/meun_pic.png) 0 -548px no-repeat;}
.sidelist span h3.hover .style_8{ background:url(../img/pic2/meun_pic.png) 0 -466px no-repeat;}
.sidelist span h3.hover .style_13{ background:url(../img/pic2/meun_pic.png) 0 -424px no-repeat;}
.sidelist span h3.hover .style_16{ background:url(../img/pic2/meun_pic.png) 0 -507px no-repeat;}
.sidelist span h3.hover .style_49{ background:url(../img/pic2/meun_pic.png) 0 -591px no-repeat;}
.sidelist span h3.hover .style_370{ background:url(../img/pic2/meun_pic.png) 0 -339px no-repeat;}
.sidelist span h3.hover .style_376{ background:url(../img/pic2/meun_pic.png) 0 -381px no-repeat;}
.sidelist span h3.hover .style_470{ background:url(../img/pic2/meun_pic.png) 0 -636px no-repeat;}

.i-list ul li a:hover{color:#296c12;}
.i-list h2 a,.i-list h2 a:hover{color:#086506;}